<!DOCTYPE html>
<html>

<head>
    <title>Privacy Policy - Betting App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="=device-width initial-scale=.0">
    <link rel="shortcut icon" href="/elephantFootball/mainLogo.png" type="image/x-icon">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333333c2;
            color: #ffffffa3;
            padding: 1rem;
            text-align: center;
            font-weight: 600;
        }

        main {
            margin: 2rem;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 1rem;
            text-align: center;
        }
    </style>
</head>

<body>
    <header>

        <h1>
            Manchester-football respects your privacy. This Privacy Policy outlines what data we collect and how we use
            it. By
            using the
            Manchester-football betting app, you consent to the collection and use of your data by us in accordance with
            this
            Privacy
            Policy.
        </h1>


    </header>
    <main>
        {{!-- <p>At Betting App, we value your privacy and are committed to protecting your personal information. This Privacy
            Policy explains how we collect, use, and disclose your personal information when you use our website and
            services.</p> --}}

        <h3>Information We Collect</h3>
        <p>We collect the following types of information:</p>
        <ul>
            <li>Personal information, such as your name and email address, that you provide to us when you register for
                an account or contact us.</li>
            <li>Usage information, such as your IP address, browser type, and operating system, which we automatically
                collect when you use our website.</li>
        </ul>

        <h3>How We Use Your Information</h3>
        <p>We use your personal information to:</p>
        <ul>
            <li>Provide and improve our services.</li>
            <li>Communicate with you about your account and respond to your inquiries.</li>
            <li>Send you promotional emails and newsletters, if you have opted in to receive them.</li>
        </ul>

        <h3>How We Disclose Your Information</h3>
        <p>We may disclose your personal information to:</p>
        <ul>
            <li>Third-party service providers who assist us in providing and improving our services.</li>
            <li>Law enforcement or regulatory authorities, if required by law.</li>
        </ul>

        <h3>Data Retention</h3>
        <p>We retain your personal information for as long as necessary to provide our services to you and to comply
            with our legal obligations.</p>

        <h3>Security</h3>
        <p>We take reasonable measures to protect your personal information from unauthorized access, disclosure,
            alteration, or destruction.</p>

        <h3>Your Rights</h3>
        <p>You have the right to access, modify, or delete your personal information. You can exercise these rights by
            contacting us at [contact information].</p>
    </main>
    <footer>
        <p>&copy; 2023 Betting App. All rights reserved.</p>
    </footer>



</body>

</html>