* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #fafafa;
}

.mainContent {
    position: relative;
}

.resultCantain {
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}


.matchResult {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}



/* --------------------------------------------------------------------------------- */


.outer {
    margin-top: 2vh;
    border: 1px solid #22778c;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.one {
    color: rgb(53, 134, 171);
    width: 50%;
    text-align: center;
    padding: 1vh;
    border-radius: 100px;
    font-size: 4vw;
    z-index: 1;
}


.secondOuter {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    border-radius: 100px;
    display: flex;
    justify-content: start;

}

.bg {
    background-color: #228c69;
    width: 50%;
    height: 40px;
    border-radius: 250px;
    text-align: center;
    background: url(/elephantFootball/orderPage/orderSwip.png) no-repeat;
    background-position: center;
    background-size: cover;
}






/* ---------------------------------------------- order popup ------------------------------------ */
.orderPopup,
.historicalPopup {
    position: absolute;
    top: 35%;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 10vh;
    overflow-y: scroll;
    padding-bottom: 20vh;
}

.orderPopup::-webkit-scrollbar {
    display: none;
}

.historicalPopup {
    z-index: -1;
}

.cancelPopup {
    z-index: -1;
}


/* ------------------------------------------------------------------------ */
.topGames {
    display: flex;
    align-items: center;
    width: 92vw;
    margin: 0 auto;
    padding: 3vw 0;
}

.topGames .gamesLogo>img {
    width: 5.6vw;
    height: 5.6vw;
    margin-left: 2vw;
}

.topGames>p {
    font-size: 4.266667vw;
    font-weight: 500;
    color:#3d8af8;
    margin-left: 2vw;
}

.teamLogo {
    width: 10.133333vw;
    height: 10.133333vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5bb2ea;
    border-radius: 50%;
}

.teamLogo>img {
    width: 6vw;
    height: 6vw;
}

.orders {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_teams {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ellipsis-1,
.ellipsis-2 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 3.466667vw;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-top: 1vw;
}

.x {
    color: #666;
    text-transform: capitalize;
}

.paisa {
    color: #333;
    font-weight: 800;
}



.trade_cancel_btn {
    display: flex;
    border-radius: 83vw;
    background: linear-gradient(180deg, #5bb2ecd1, #3d8af8);
    width: fit-content;
    align-items: center;
    align-self: end;
    margin-right: 0.2rem;
    color: white;
    padding: 2vw 0;
    justify-content: center;
    width: 35%;
    margin: 0 auto;
}

.trade_cancel_btn>p {
    padding: 0 0.5rem;
    color: #fff;

}

.trade_cancel_btn>i {
    font-size: 1.2rem;
}

.trade_del_box {
    position: fixed;
    top: 50%;
    left: 10%;
    width: 80%;
    background: white;
    color: black;
    padding: 1rem 0.5rem 2rem 0.5rem;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 0.4vw 0.8vw 0 rgba(51,51,51,.1);
    z-index: 2;
    background: 0 0.666667vw 1.6vw 0.266667vw rgb(0 77 119 / 16%);
    display: none;
}

.confirmation_btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2vw;
}


.d {
    margin-top: 1vw;
    padding: 2vw;
    border-radius: 10px;
    background: linear-gradient(180deg, #5bb2ecd1, #3d8af8);
    color:#fff;
}

.d > p {
    color: #fff;
}

.lime{
    text-align: center;
}
.lime_two{
    color: red;
}